nav ul{
  display: flex;
  justify-content: flex-start;
  width: 90%;
}

nav ul li{
  padding-left: 2em;
  text-decoration:none;
}

ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: #b8e0d3;
}

li a:hover{
  color: grey;
}

a{
  text-decoration: none;
}

.body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ), url("background.jpg");
}

.header{
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

.profile{
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/12920331_10207857354305227_2421131021351166412_n.jpg?oh=ea35f74e6c0467569520df7102815b79&oe=57DFEAFE");
  background-size: contain;
  width: 12em;
  height: 12em;
  border-radius: 12em;
  margin:auto;
}

.content{
  margin: auto;
  width: 90%;
  color: #FEFEFE
}

.proj{

  border-radius: 25px;
  padding: 1%;
}

.projects{
  display: none;
}

.projList{
  float: right;
  padding: 10%;
}

.footer{
  background-image: url("footer.jpg");
  background-size: cover;
  width: 100%;
}

.sideIn{
  padding: .5%;

}
