.header{
  text-align: center;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 20% 0 20%;
}

.body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ), url("../assets/background.jpg");
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.content{
  margin: auto;
  width: 90%;
  color: #FEFEFE
}

/*gonna get rid of this soon*/
.projList{
  float: right;
  padding: 10%;
}

.resume-container{
  display: flex;
  justify-content: center;
}

.resume-field{
  width: 100%;
  height: 40em;
}

.footer {
  position: inherit;
  width: 100%;
  bottom: 0;
}

.footer a{
  font-size: 1.5em;
  color: #000000;
}

@media only screen and (min-width:680px){
  .profile{
    background-image: url("../assets/profile.jpg");
    background-size: contain;
    width: 8em;
    height: 8em;
    border-radius: 10em;
    margin:auto;
  }

.footer{
  background-image: url("../assets/footer.jpg");
  background-size: cover;
  width: 100%;
}

}
