ul{
  list-style: none;
}

li a{
  text-decoration: none;
  color: #b8e0d3;
}

li a:hover{
  color: grey;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%
}

.body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.70),
      rgba(0, 0, 0, 0.70)
    ), url("../assets/background.jpg");
  overflow: hidden;
}

.icon-menu{
  float: right;
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 0;
}

.main-nav ul{
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover  ul{
  display: block;
  position: absolute;
  text-align: left;
  right: 0;
  top: 0;
  background-color: grey;
}

.header{
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

.content{
  margin: auto;
  width: 90%;
  color: #FEFEFE
}

.proj{

  border-radius: 25px;
  padding: 1%;
}

.projects{
  display: none;
}

.projList{
  float: right;
  padding: 10%;
}

.footer a{
  font-size: 1.5em;
  color: black;
}


@media only screen and (min-width:480px){
  .icon-menu{
    display: none;
  }
  .footer{
    background-image: url("../assets/footer.jpg");
    background-size: cover;
    width: 100%;
  }
  .main-nav ul {
      display: flex;
      justify-content: center;
  }
  .main-nav:hover ul {
      display: flex;
  }
  .main-nav li {
    padding-left: 1em;
    padding-right: 1em;
    text-decoration:none;
  }
  .profile{
    background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/12920331_10207857354305227_2421131021351166412_n.jpg?oh=ea35f74e6c0467569520df7102815b79&oe=57DFEAFE");
    background-size: contain;
    width: 12em;
    height: 12em;
    border-radius: 12em;
    margin:auto;
  }
}
